autopep8
black
bumpversion
catboost
Click
coverage
darglint
feather-format
flake8
flake8-bandit
flake8-blind-except
flake8-builtins
flake8-commas
flake8-copyright
flake8-docstrings
flake8-import-order
flake8-isort
flake8-logging-format
flake8-mock
flake8-pep3101
flake8-quotes
flake8-rst-docstrings
flake8-string-format
geopandas
ipyleaflet
ipywidgets
isort
jupyter
jupyter_contrib_nbextensions
jupyterlab
jupyterlab_code_formatter
jupyter_nbextensions_configurator
lightgbm
matplotlib
mlflow
mypy
numpy
overpy
pandas
pip-tools
pyarrow
pylint
pyment
pytest
pytest-runner
python-dotenv
scipy
seaborn
selenium
sklearn
Sphinx
Sphinx
tox
tqdm
twine
watchdog
wheel
xgboost
yapf

# https://github.com/PyCQA/pydocstyle/issues/375
pydocstyle<4.0.0
